/* h1 {
  color: #fff;
} */



.nav-icon1 {
  position: absolute;
left: 8.89%;
right: 82.22%;
top: 80%;
bottom: 15%;
}
.nav-icon2 {
  position: absolute;
left: 32.78%;
right: 58.33%;
top: 80%;
bottom: 15%;
}
.nav-icon3 {
  position: absolute;
left: 56.67%;
right: 34.44%;
top: 80%;
bottom: 15%;
}
.nav-icon4 {
  position: absolute;
left: 80.56%;
right: 10.56%;
top: 80%;
bottom: 15%;
}
