/* colors */
/* global */
html {
  position: relative;
  min-height: 100%;
}
html body {
  font-family: 'Raleway', sans-serif;
  /* Margin bottom by footer height */
  margin: 0 0 60px;
  background: url('/images/main-bg.jpg') no-repeat center center fixed;
  background-size: cover;
}
/* header section*/
#main-header {
  width: 100%;
  background: transparent;
  /* logo */
  /* main nav */
}
#main-header #logo-mobile-checkbox {
  display: none;
}
#main-header .logo-desktop {
  margin: 40px 60px;
  display: block;
  float: left;
}
#main-header .logo-mobile {
  visibility: hidden;
  padding: 20px;
  position: absolute;
  right: 10%;
  bottom: 10%;
  background: #aaa;
  border-radius: 50%;
}
#main-header #main-topnav ul {
  margin: 0;
  padding: 80px 60px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
#main-header #main-topnav ul li {
  margin: 0 10px;
}
#main-header #main-topnav ul li a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
}
#main-header #main-topnav ul li a:hover {
  background-color: #ffe34a;
  border-radius: 80px;
  color: #000;
  transition: All 0.3s ease;
}
#main-header #main-topnav ul li .active {
  background-color: #ffe34a;
  border-radius: 80px;
  color: #000;
}
/* content section */
#content-section {
  max-width: 752px;
  margin: 0 54px 60px;
  /* hello section */
  /* experience section */
  /* skills section */
  /* works section */
  /* btn section */
}
#content-section .hello-section h1 {
  margin: 0;
  font-size: 54px;
  color: #fff;
  font-weight: 100;
}
#content-section .hello-section h2 {
  margin-top: 7px;
  color: #3f964e;
}
#content-section .hello-section p {
  line-height: 22px;
  color: #d8d8d8;
}
#content-section .experience-section div h3 {
  color: #fff;
  font-size: 28px;
  margin-bottom: 0;
}
#content-section .experience-section div h5 {
  margin-top: 6px;
  color: #3f964e;
}
#content-section .experience-section div p {
  color: #d8d8d8;
  line-height: 22px;
}
#content-section .experience-section > div,
#content-section .experience-section > input {
  display: none;
}
#content-section .experience-section label {
  padding: 0 22px 0 0;
  line-height: 28px;
  cursor: pointer;
  position: relative;
  color: #666665;
  background: transparent;
}
#content-section .experience-section label:hover {
  color: #ffe34a;
  transition: All 0.3s ease;
}
#content-section .experience-section input[type="radio"]:checked + label {
  color: #ffe34a;
}
#content-section .experience-section > input:nth-of-type(1):checked ~ div:nth-of-type(1),
#content-section .experience-section > input:nth-of-type(2):checked ~ div:nth-of-type(2),
#content-section .experience-section > input:nth-of-type(3):checked ~ div:nth-of-type(3),
#content-section .experience-section > input:nth-of-type(4):checked ~ div:nth-of-type(4),
#content-section .experience-section > input:nth-of-type(5):checked ~ div:nth-of-type(5) {
  display: block;
}
#content-section .skills-section div h3 {
  font-weight: 100;
  color: #fff;
  font-size: 28px;
  margin-bottom: 0;
}
#content-section .skills-section div h5 {
  margin-top: 6px;
  color: #3f964e;
}
#content-section .skills-section > div,
#content-section .skills-section > input {
  display: none;
}
#content-section .skills-section label {
  padding: 0 22px 0 0;
  line-height: 28px;
  cursor: pointer;
  position: relative;
  color: #666665;
  background: transparent;
}
#content-section .skills-section label:hover {
  color: #ffe34a;
  transition: All 0.3s ease;
}
#content-section .skills-section input[type="radio"]:checked + label {
  color: #ffe34a;
}
#content-section .skills-section > input:nth-of-type(1):checked ~ div:nth-of-type(1),
#content-section .skills-section > input:nth-of-type(2):checked ~ div:nth-of-type(2),
#content-section .skills-section > input:nth-of-type(3):checked ~ div:nth-of-type(3),
#content-section .skills-section > input:nth-of-type(4):checked ~ div:nth-of-type(4) {
  display: flex;
}
#content-section .skills-section > input:nth-of-type(1):checked ~ div:nth-of-type(1) div,
#content-section .skills-section > input:nth-of-type(2):checked ~ div:nth-of-type(2) div,
#content-section .skills-section > input:nth-of-type(3):checked ~ div:nth-of-type(3) div,
#content-section .skills-section > input:nth-of-type(4):checked ~ div:nth-of-type(4) div {
  margin-right: 72px;
}
#content-section div.but-section {
  margin: 0 0 120px;
  display: flex;
}
#content-section div.but-section a.btn-main {
  color: #ffe34a;
  background-color: transparent;
  border: 2px solid #ffe34a;
  border-radius: 80px;
  margin-top: 40px;
  padding: 20px 50px;
  text-decoration: none;
}
#content-section div.but-section a.btn-main:hover {
  color: #000;
  background-color: #ffe34a;
  border: 2px solid #ffe34a;
  transition: All 0.3s ease;
}
#content-section div.but-section a.btn-nav-left {
  font-size: 14px;
  color: #666665;
  background-color: transparent;
  border: 1px solid #666665;
  border-radius: 80px;
  margin-top: 20px;
  padding: 8px 12px;
  text-decoration: none;
}
#content-section div.but-section a.btn-nav-left:hover {
  color: #000;
  background-color: #ffe34a;
  border: 1px solid #ffe34a;
  transition: All 0.3s ease;
}
#content-section div.but-section a.btn-nav-right {
  font-size: 14px;
  color: #666665;
  background-color: transparent;
  border: 1px solid #666665;
  border-radius: 80px;
  margin-top: 20px;
  margin-left: auto;
  padding: 8px 12px;
  text-decoration: none;
}
#content-section div.but-section a.btn-nav-right:hover {
  color: #000;
  background-color: #ffe34a;
  border: 1px solid #ffe34a;
  transition: All 0.3s ease;
}
/* media queries */
@media (max-width: 768px) {
  #main-header {
    /* logo */
    /* main nav */
  }
  #main-header .logo-desktop {
    visibility: hidden;
  }
  #main-header .logo-mobile {
    visibility: visible;
    z-index: 50;
  }
  #main-header #main-topnav {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    transition: all .3s ease;
  }
  #main-header #main-topnav ul {
    display: block;
    margin: 30%;
    text-align: center;
  }
  #main-header #logo-mobile-checkbox:checked ~ #main-topnav {
    opacity: 1;
    visibility: visible;
  }
}
/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #101010;
}
.footer .text-muted-footer {
  color: #272727;
  text-align: center;
  padding: 6px;
  margin: 14px;
}
