/*

COLORS 
bg - background-color: #2F2F2F;

FONTS
font-family: 'Quicksand', sans-serif;
font-family: 'Abril Fatface', cursive, sans-serif;
font-family: 'Bebas Neue', cursive, sans-serif;

*/

@import url("/css/header.css");
@import url("/css/hero-text.css");
@import url("/css/main-nav.css");
@import url("/css/footer.css");
/* @import url("/css/media-queries/max-width-768.css"); */

html {
  position: relative;
  min-height: 100%;
}
html body {
  font-family: 'Quicksand', sans-serif;
  /* Margin bottom by footer height */
  margin: 0 0 60px;
  background: url('/img/svg/logo-bg.svg') no-repeat center center fixed;
  background-color: #2F2F2F;
  background-size: cover;
}
